@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;500;700&display=swap');

/* CSS clear*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Noto Sans', Arial, Helvetica, sans-serif;
    color:white;
}
html {
    overflow: hidden;
    height: 100%;
}


body {
    overflow: auto;
    height: 100%;
    background: #0f0c29 no-repeat;
    background: -webkit-linear-gradient(to top, #24243e, #302b63, #0f0c29);
    background: linear-gradient(180deg, rgba(2, 0, 36, 1) 0%, rgba(53, 43, 156, 1) 13%, rgba(5, 4, 75, 1) 76%, rgba(53, 43, 156, 1) 100%);
}

body::-webkit-scrollbar {
    display: none;
}

.welcome-anime-wrapper {
    scroll-behavior: smooth;
    overflow: hidden;
}

.welcome {
    position: relative;
    top: 100%;
    height: 100vh;
    z-index: 1;
    min-width: 100%;
    background-size: cover !important;
    background: url("/assets/images/splash-bg.svg") no-repeat;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* Navbar */
nav {
    height: 100px;
}

.navbar {
    width: 100%;
    position: sticky !important;
    top: 0;
    z-index: 10000;
}

/* Jumbotron */

.jumbotron {
    width: 40vw;
    margin-top: 200px;
    color: white;
    margin-bottom: 200px;
}

.jumbotron p {
    font-size: 18px;
}

.description {
    width: 40vw;
    z-index: 1;
}

.display-4 {
    font-weight: bold !important;
}

.display-6 {
    font-weight: bold !important;
}

.lead {
    font-size: 20px !important;
}

#jumbotron-logo {
    width: 800px;
    position: absolute;
    right: 200px;
    top: 100px;
    z-index: -1;
}

    /* Main */
/* Section Values */

main .values {
    margin: 400px 0;
}

/* Expertise */
main .expertise {
    margin: 300px 0;
}

main .expertise .menu {
    margin-top: 50px;
}

main .expertise .menu h1 {
    line-height: 50px;
    color: #70A1E9;
}

main .expertise .menu h1:hover {
    transition: 500ms;
    transform: scale(1.5);
    opacity: 1 !important;
    color: white;
}

main .expertise .menu-preview {
    margin-top: 50px;
    margin-left: 300px;
}

main .expertise .menu-preview img {
    position: relative;
    width: 250px;
    filter: brightness(80%);
}

main .expertise .menu-preview .expertise-desc {
    position: relative;
    width: 50vh;
    bottom: 50px;
    left: 50px;
}

#media-listening {
    opacity: 0.2;
    font-size: 24px;
}

#media-monitoring {
    opacity: 0.4;
    font-size: 26px;
}

#portal-media-analytic {
    opacity: 0.6;
    font-size: 28px;
}

#social-media-analytic {
    opacity: 0.8;
    font-size: 40px;
}

#one-time-report {
    opacity: 1;
    font-size: 36px;
}

#handling {
    opacity: 0.8;
    font-size: 28px;
}

#post-activity {
    opacity: 0.6;
    font-size: 26px;
}

#pr-statement {
    opacity: 0.4;
    font-size: 24px;
}

/* Security Features */

main .safety .safety-desc {
    margin-left: 300px;
    margin-top: 60px;
}

/* Our Patrons */
main .our-patrons {
    margin: 300px 0;
}

/* Footer */
footer {
    padding-top: 100px;
    position: relative;
    width: 100% !important;
}

#footer-logo {
    height: 47px;
}

footer .copyright {
    color: white;
    font-size: 5px;
}

/* Get In Touch */
#get-in-touch {
    position: relative;
}

.form-style {
    color: white !important;
    background-color: transparent !important;
    border-top: none !important;
    border-right: none !important;
    border-left: none !important;
    border-radius: 0 !important;
}

.form-style:focus {
    border: none !important;
}

footer #get-in-touch input {
    color: white;
}

